* {
  margin: 0;
  padding: 0;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: rgb(81, 152, 233); /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: rgb(81, 152, 233); /* Yellow */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: rgb(21, 113, 218); /* Blue */
  }
}

.App {
  text-align: center;
}

/* navbar */
.navbar{
  color: white;
 }

 .logoimg{
   position:absolute;
    top:10px; 
    left:10px;
    width:30px;
    height:30px;   
    overflow:hidden;
 }



 /* topic images */
 .topic img{
  align-items: center;
  justify-content: inherit;
  display: block;
  width: 30%;
  margin: 20px auto;
  height: auto;
  flex-wrap: wrap;
  border: 2px solid white;
border-radius: 40px 5px 40px 5px;
 }






 /* Animation */
 section {
  position: sticky;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}


section,
.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(./wave.png);
  background-size: 1000px 100px;
}
section, .wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1.0;
  animation-delay: 0s;
  bottom:0;
}
@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

 .wave2{
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0,5;
  animation-delay: -5s;
  bottom: 10px;
}
@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

 .wave3{
  animation: animate 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

 .wave4{
  animation: animate3 5s linear infinite;
  z-index: 999;
  opacity: 0.7;
  animation-delay: -5s;
}
@keyframes animate3 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
} 
